body {
	margin: 0;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	height: 4.375rem;
	margin: 0 auto;
	width: 970px;
}

.top-navigation .links {
	float: right;
	font-family: 'Questrial';
	font-size: 16px;
	letter-spacing: 0.03em;
	margin-top: 20px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links > li {
	display: inline-block;
	margin-left: 20px;
	margin-top: 1em;
}

@media (max-width: 970px) {
  .top-navigation .links {
  	float: none;
  	margin-left: 100px;
  }
}

.top-navigation li a {
	color: #838994;
	text-decoration: none;
}

.top-navigation .links > .active a {
	color: black;
	font-weight: 500;
}

.top-navigation .logo {
	margin-top: 1em;
	margin-bottom: 3em;
	margin-left: 3em;
}

@media (max-width: 970px) {
  .top-navigation .logo {
  	margin-left: 10px;
  	margin-top: -40px;
  }
}

.top-navigation .links li a:hover {
	cursor: pointer;
	color: #fb1345;
}

a {
	color: gray;
	font-family: 'Questrial';
	font-size: 15px;
	text-decoration: none;
}

a:hover {
	color: #fb1345;
	cursor: pointer;
	text-decoration: none;
}

.masthead {
	background-image: url('../images/desk.jpeg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938em;
}

.masthead .content {
	margin: 0 auto;
	margin-left: 25em;
	min-width: 37.5rem;
	padding: 0 0.938rem;
}

.masthead h1 {
	color: black;
	font-family: 'Playfair';
	font-size: 3.125rem;
	font-weight: 300;
	margin-top: .05rem;
	padding-top: 20rem;
	text-align: center;
}

.masthead h3 {
	color: #fb1345;
	font-family: 'Lobster';
	font-size: 2rem;
	font-weight: 100;
	margin-top: -2rem;
	text-align: center;
}

@media (max-width: 970px) {
  .masthead {
  	height: 20em;
  }
}

@media (max-width: 970px) {
  .masthead .content {
  	margin-left: 12em;
  }
}

@media (max-width: 970px) {
  .masthead h1 {
	font-size: 2rem;
	padding-top: 8rem;
  }
}

@media (max-width: 970px) {
  .masthead h3 {
  	font-size: 1.375rem;
  }
}

@media (max-width: 620px) {
  .masthead .content {
	margin-left: .5em;
  }
}

@media (max-width: 620px) {
  .masthead h1 {
	font-size: 2rem;
	padding-top: 8rem;
  }
}

@media (max-width: 620px) {
  .masthead h3 {
	font-size: 1.375rem;
  }
}

@media (max-width: 500px) {
  .masthead .content {
  	margin-left: -3em;
  }
}

@media (max-width: 500px) {
  .masthead h1 {
	font-size: 2rem;
	padding-top: 8rem;
  }
}

@media (max-width: 500px) {
  .masthead h3 {
	font-size: 1.375rem;
  }
}

button {
	background-color: #a5a5a5;
	border-radius: 4px;
	border-style: none;
	cursor: pointer;
	display: table;
	margin: 0 auto;
	margin-top: 5rem;
	opacity: .6;
	padding: 1rem 1.5rem;
	text-shadow: none;
	transition: background-color 0.5s ease;
	width: 9.688rem;
}

button a {
	color: white;
	font-size: 1rem;
	text-decoration: none;
}

button:hover {
	background-color: #fb1345;
}

button:hover a {
	color: white;
}

@media (max-width: 500px) {
  button {
  	margin-top: 2rem;
	}
}

@media (max-width: 970px) {
  button {
  	margin-top: 1rem;
	}
}

.intro-section {
	font-family: 'Playfair';
	font-size: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	max-width: 30em;
}

@media (max-width: 500px) {
  .intro-section {
	margin-left: 2rem;
	margin-right: 2rem;
	}
}

.intro-section h1 {
	color: #fb1345;
	font-family: 'Lobster';
	font-weight: 100;
}

.vertical-line {
	background-color: black;
	height: 1px;
	margin-bottom: 5rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	width: 75%;
}

.content-footer {
	font-family: 'Questrial';
	font-size: 1rem;
	text-align: center;
}

.content-footer .content h5 {
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
}

.content-footer li {
	display: inline-block;
	padding: 1em;
	padding-bottom: 2em;
}

footer a:link {
	color: #a5a5a5;
	text-decoration: none;
}

footer a:visited {
	color: 7e7d7d;
}

footer a:hover {
	color: #fb1345;
}

footer a:active {
	color: #9bbabf;
}

.masthead-portfolio-page {
	background-image: url('../images/desk-portfolio-page.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	margin-bottom: 5em;
}	

@media (max-width: 600px) {
  .masthead-portfolio-page {
  	height: 150px;
  }
}

.projects .content > h2 {
	font-family: 'Playfair';
	font-size: 25px;
	font-weight: normal;
	padding-top: 50px;
	-webkit-font-smoothing: antialiased;
}

.projects {
	text-align: center;
}

.samples > li {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	vertical-align: top;
	width: 32%;
}

.samples a:hover img {
	opacity: .5;
	transition: all 0.2s ease;
}

.samples {
	margin: 0;
	padding: 0;
}

@media (max-width: 970px) {
  .samples li {
  	display: block;
  }
}

.intro-section h2 {
	color: #fb1345;
	font-family: 'Playfair';
	font-size: 18px;
	text-decoration: none;
}






